* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #FFFFFF;
}

body[data-color=black] {
  background-color: #000;
}

.name.black h3 {
  color: #333;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

#home {
  margin-bottom: 120px;
}

#about {
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
}

#portfolio {
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 120px;
  padding-bottom: 120px;
}

#skills {
  margin-top: 120px;
  margin-bottom: 120px;
}

#watch {
  margin-top: 120px;
  margin-bottom: 120px;
  background-image: url(../images/watch.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#testimonials {
  margin-top: 120px;
  margin-bottom: 120px;
}

#news {
  margin-top: 120px;
  margin-bottom: 120px;
}

#contact {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
  z-index: 1010;
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  background-color: #E54B4B;
  -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
  transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
}

.cursor-inner.cursor-hover {
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background-color: #E54B4B;
  opacity: .3;
}

.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid #E54B4B;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
  -webkit-transition: all .08s ease-out;
  transition: all .08s ease-out;
}

.cursor-outer.cursor-hover {
  opacity: 0;
}

[data-magic-cursor=hide].mouse-cursor {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1111;
}

nav.bg-color {
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
  padding: 20px 50px;
}

nav {
  background: transparent;
  position: fixed !important;
  z-index: 1000;
  padding: 10px 50px !important;
  text-decoration: none;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .logo {
  text-transform: uppercase;
  color: #000;
  font-size: 27px;
  font-weight: 900;
  text-decoration: none;
}

nav .nav-item .nav-link {
  padding: 15px 12px !important;
  color: #000 !important;
  font-size: 16px;
  text-transform: capitalize;
}

nav .nav-item .nav-link:hover {
  color: #E54B4B !important;
}

nav .nav-item .nav-link i {
  font-size: 20px;
  padding-left: 3px;
}

nav .nav-link.active {
  color: #E54B4B !important;
}

nav .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
}

nav .navbar-toggler {
  border-color: transparent !important;
}

nav .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav button:focus {
  outline: none;
}

@media (max-width: 991px) {
  .navbar-light {
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.closeyop {
  -webkit-clip-path: polygon(38% 31%, 0% 20%, 30% 50%, 14% 86%, 49% 64%, 87% 86%, 70% 50%, 100% 20%, 61% 31%, 49% 0);
          clip-path: polygon(38% 31%, 0% 20%, 30% 50%, 14% 86%, 49% 64%, 87% 86%, 70% 50%, 100% 20%, 61% 31%, 49% 0);
}

.title h5 {
  font-size: 30px;
}

.title h5 span {
  background-color: #E54B4B;
  color: #fff;
  display: inline-block;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0;
}

.two-title {
  font-size: 40px;
  line-height: 1.4;
  color: #000;
  font-weight: 790;
}

.paragraph {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: .6px;
  color: #767676;
}

ol,
ul {
  list-style: none;
  margin: 0;
}

li {
  text-align: -webkit-match-parent;
}

.button .btn-area {
  color: #E54B4B;
  font-weight: 650;
  padding: 10px 45px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #fff;
  border: 2px solid #E54B4B;
}

.button .btn-area:hover {
  color: #fff;
  background-color: #E54B4B;
  cursor: pointer;
}

.settings {
  position: fixed;
  right: 0;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9980;
}

.cog-block {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.cog-block:hover {
  cursor: pointer;
}

.cog-block .cog-div {
  position: relative;
  background: #000;
  width: 100%;
  height: 100%;
}

.cog-block .cog-div i {
  position: absolute;
  left: 25%;
  top: 25%;
  color: #fff;
  font-size: 25px;
  -webkit-animation: cog-animation 2s infinite linear;
          animation: cog-animation 2s infinite linear;
}

.colors {
  background: #000;
  width: 200px;
  height: 350px;
  right: -200px;
  position: fixed;
  padding-top: 50px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.colors .title {
  color: #fff;
  position: relative;
  font-size: 18px;
  margin: 3px 25px;
  font-weight: 800;
}

.colors .title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #A0A0A0;
}

.colors .color-selection {
  margin-bottom: 25px;
}

.colors .color-selection .painting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 32px;
}

.colors .color-selection .painting .color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
}

.colors .color-selection .painting .color:hover {
  cursor: pointer;
}

.colors .cursor-sh-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colors .cursor-sh-h .show {
  margin: 15px 25px;
  cursor: pointer;
}

.colors .cursor-sh-h .show .cursor-mouse {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #939393;
  position: relative;
}

.colors .cursor-sh-h .show .cursor-mouse::after {
  position: absolute;
  content: '';
  background-color: #939393;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  top: 40%;
  left: 40%;
}

.colors .cursor-sh-h .hide {
  margin: 15px;
  cursor: pointer;
}

.colors .cursor-sh-h .hide svg {
  width: 25px;
  height: 25px;
  color: #939393;
  fill: currentcolor;
}

.show .cursor-mouse.active {
  border: 2px solid #fff !important;
}

.show .cursor-mouse.active::after {
  background-color: #fff !important;
}

.hide .svg.active {
  color: #fff !important;
}

.cursor.active {
  display: none;
}

.colors.open {
  right: 0;
}

.cog-block.open {
  right: 200px;
}

@-webkit-keyframes cog-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes cog-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  -webkit-clip-path: ellipse(70% 80% at 70% 50%);
          clip-path: ellipse(70% 80% at 70% 50%);
}

.background-img {
  background-image: url(../images/home.jpg);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  padding: 25px;
}

.content .name {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.content .name span {
  color: transparent;
  -webkit-text-stroke: 1px #E54B4B;
}

.content .name h3 {
  color: #E54B4B;
  font-size: 70px;
}

.content .job {
  margin-bottom: 25px;
}

.content .job p {
  color: #A0A0A0;
  font-size: 20px;
}

.wrapper {
  position: absolute;
  z-index: 7;
  bottom: 50px;
}

.wrapper.loaded {
  display: block;
}

.wrapper .line_wrapper {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: all .7s;
  transition: all .7s;
}

.wrapper .line_wrapper {
  width: 1px;
  height: 50px;
  background: 0 0;
  display: block;
}

.wrapper .line_wrapper:before {
  content: "";
  background-color: #000;
  width: 1px;
  height: 50%;
  display: block;
  top: 0;
  -webkit-animation: scroll-down 2s ease-in-out infinite;
          animation: scroll-down 2s ease-in-out infinite;
}

@-webkit-keyframes scroll-down {
  0% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  70% {
    height: 100%;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    height: 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

@keyframes scroll-down {
  0% {
    height: 0;
  }
  50% {
    height: 100%;
  }
  70% {
    height: 100%;
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    height: 100%;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}

.about-img {
  max-width: 100%;
  -webkit-box-shadow: 0 0 30px #cbcbcb;
          box-shadow: 0 0 30px #cbcbcb;
}

.about-img img {
  width: 100%;
}

.about-details .button .btn-area {
  color: #E54B4B;
  font-weight: 650;
  padding: 13px 48px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #fff;
  border: 2px solid #E54B4B;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.about-details .button .btn-area:hover {
  color: #fff;
  background-color: #E54B4B;
  cursor: pointer;
}

#portfolio {
  background-color: #F8F8F8;
}

.title-filter {
  height: 100%;
  bottom: 0;
}

.title-filter .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.title-filter .filter .filter-button {
  color: #000;
}

.title-filter .filter .filter-button:hover {
  cursor: pointer;
  color: #E54B4B;
}

.filter-img {
  margin: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-img {
  position: relative;
  overflow: hidden;
}

.filter-img:hover .text-hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filter-img:hover .img-hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.filter-img .overflow {
  overflow: hidden;
}

.filter-img .img-hover {
  overflow: hidden;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.filter-img .info {
  text-align: center;
}

.filter-img .text-hover {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(160px);
          transform: translateY(160px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: rgba(47, 47, 47, 0.5);
  height: 45%;
  color: #fff;
  padding-top: 10px;
}

.skills {
  margin-bottom: 20px;
}

.skills-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-info h6 {
  font-size: 19px;
  letter-spacing: 1.5px;
  color: #525252;
  line-height: 40px;
}

.skill-progress {
  height: 5px;
  background-color: #e1e1e1;
}

.skill-progress div {
  height: 5px;
  background-color: #E54B4B;
}

.watch {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-pause {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #E54B4B;
  position: relative;
}

.play {
  position: absolute;
  top: 35%;
  left: 38%;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-left: solid 30px #fff;
  border-bottom: solid 15px transparent;
  border-top: solid 15px transparent;
}

.watch-info {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  max-width: 550px;
  text-align: center;
}

.watch-button {
  border: 2px solid #E54B4B;
  background-color: transparent;
  color: #fff;
  padding: 20px 40px;
  letter-spacing: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: center;
}

.watch-button:hover {
  letter-spacing: 4px;
}
/*# sourceMappingURL=main.css.map */